.project {
    padding: 3em 0;
    position: relative;
    height: 100%;
    min-height: 100vh;
    background:url("../utils/fondos/proyectos.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  }
  .project h2 {
    color:#B8B8B8;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom:0;
  }
  .project p {
    text-align: justify;
    color: #B8B8B8;
    font-size: 22px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 2em auto 1em 0;
    width: 80%;
  }
   
.mod{
  letter-spacing: 2px;
  color:#B8B8B8;
}

  @media only screen and (max-width: 768px){
    .project p {
      text-indent: 40px;
      margin: 2em 1em 2em 1em;
      width: 90%;
    }
  }