

.skill {
    padding: 3em 0 3em 0;
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-color:#ffffff77;
  }

  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skillslider {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .skillslider img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .skill .stick img {
    width: 60px;
    height: 60px;
  }
  